{{ form_start(form, {
	'attr': {
	    'novalidate': 'novalidate'
	}
    })
}}
{{ form_errors(form) }}
<div class="container">
	<div class="row">
		{% if ( new == false ) %}
			<div class="col-lg-3 col-md-4">
				<label class="js-endDate-label" for="endDate">{{ 'consultation.endDate' | trans | capitalize }}</label>
				{{ form_widget(form.endDate, { 'attr': { 'class' : 'form-control', 'data-controller' : 'datetimepicker' } }) }}
				{{ form_errors(form.endDate) }}
			</div>
		{% endif %}
	</div>
</div>
<div class="container">
	<div class="row">
		{% for t in form.topic %}
			{{ form_widget(t,{'attr': { 'class': 'form-check-input' } }) }}
		{% endfor %}
	</div>
	<div class="text-danger form-error">
		{{ form_errors(form.topic) }}
	</div>
</div>
<div class="container mt-2">
	<div class="row">
		{% if (saveButton == true) %}
			<div class="col-2">
				<button class="btn btn-primary form-control mr-2" type="submit" formnovalidate>{{"btn.save" | trans | capitalize}}</button>
			</div>
		{% endif %}
		<div class="col-2">
			<a href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('consultation_index') }}" id="cancel" class="btn btn-secondary form-control" type="button">{{"btn.cancel" | trans | capitalize}}</a>
		</div>
	</div>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
