{% extends 'base.html.twig' %}

{% block title %}
	{{ 'List Consultations' | trans }}
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<div class="mt-2">
			{{ include('consultation/_searchForm.html.twig',{
	    'readonly': false,
			    }) }}
		</div>
		<div class="container-fluid">
			{% if consultations is defined and consultations | length > 0 %}
				<table id="taula" class="table bootstrap-table mt-3">
					<thead>
						<tr class="row">
							<th data-sortable="true">{{"consultation.id" | trans | capitalize}}</th>
							<th data-sortable="true">{{"consultation.startDate" | trans | capitalize}}</th>
							{# <th data-sortable="true">{{"consultation.endDate" | trans | capitalize}}</th>
														<th data-sortable="true">{{"consultation.duration" | trans | capitalize}}</th> #}
							<th data-sortable="true" data-visible="false">{{"consultation.topic" | trans | capitalize}}</th>
							<th data-sortable="true" data-field="options">{{"table.options" | trans | capitalize}}</th>
						</tr>
					</thead>
					<tbody>
						{% for consultation in consultations %}
							<tr>
								<td>{{ consultation.id }}</td>
								<td>{{ consultation.startDate | format_datetime(pattern='Y-MM-dd HH:mm:ss') }}</td>
								{# <td>{{ consultation.endDate | format_datetime(pattern='Y-MM-dd HH:mm:ss') }}</td>
																{% set difference = date(consultation.endDate).diff(date(consultation.startDate)) %}
																{% set minutesMinutes = difference.i %}
																{% set minutesSeconds = difference.s %}
																<td>{{ "%'.02d"|format(minutesMinutes)~':'~"%'.02d"|format(minutesSeconds) }}</td> #}
								<td>
									{% if consultation.topic is defined and consultation.topic |length > 0 %}
										<div class="col-lg-4">
											<ul class="list-group">
												{% for topic in consultation.topic %}
													<li class="list-group-item">{{ topic.DescriptionEs }}<i class="fa fa-remove pull-right js-topic-remove" data-url="{{ path ("api_remove_consultation_topic", {'id': consultation.id , 'topic': topic.id }) }}" data-confirmation="{{ "messages.confirmacion" | trans }}" data-message="{{ "consultation.topic.remove.confirmation" | trans }}" data-confirm="{{ "messages.si" | trans | capitalize }}" data-cancel="{{ "messages.no" | trans | capitalize }}"></i>
													</li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
								</td>
								<td>
									<a href="#" title="{{ 'consultation.details' | trans | capitalize }}" class="js-details" data-row="{{loop.index - 1}}">
										<i class="fa fa-file"></i>
									</a>&nbsp;
									<a href="{{ path('consultation_show', {'id': consultation.id }) }}" title="{{ 'consultation.show' | trans | capitalize }}">
										<i class="fa fa-eye"></i>
									</a>&nbsp;
									<a href="{{ path('consultation_edit', {'id': consultation.id }) }}" title="{{ 'consultation.edit' | trans | capitalize }}">
										<i class="fa fa-edit"></i>
									</a>&nbsp;
									{% if is_granted('ROLE_ADMIN') %}
										<a class="js-delete" href="#" title="{{ 'consultation.delete' | trans | capitalize }}" data-url="{{ path ("consultation_delete",{"id" : consultation.id}) }}" data-confirmation="{{ "messages.confirmacion" | trans | capitalize }}" data-message="{{ "topic.delete.confirmation" | trans | capitalize }}" data-confirm="{{ "messages.si" | trans | capitalize }}" data-cancel="{{ "messages.no" | trans | capitalize }}">
											<i class="fa fa-trash"></i>
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<div class="mt-3 p-2 border border-secondary rounded text-center bg-light">{{"messages.results0" | trans }}</div>
			{% endif %}
			<span class="pull-right">
				<a href="{{ path('consultation_new')}}" class="btn btn-primary btn-rounded fixed-bottom-right">
					<i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i>
				</a>
			</span>
		</div>
	</main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('consultation_list') }}
{% endblock %}

{% block javascripts %}
	{{  parent() }}
	{{ encore_entry_script_tags('consultation_list') }}
{% endblock javascripts %}
