{{ form_start(form, {
	'attr': {
	    'novalidate': 'novalidate'
	}
    })
}}
{{ form_errors(form) }}
   <div class="container">
      <div class="row">
         <div class="ml-1">
            {{ form_row(form.descriptionEs, { 'attr': { 'class' : 'form-control' } }) }}
            {{ form_errors(form.descriptionEs) }}
         </div>
         <div class="ml-1">
            {{ form_row(form.descriptionEu, { 'attr': { 'class' : 'form-control' } }) }}
            {{ form_errors(form.descriptionEu) }}
         </div>
      </div>
   </div>
   <div class="container mt-2">
      <div class="row">
	{% if (saveButton == true) %}
	    <button class="col-3 btn btn-primary form-control mr-2" type="submit" formnovalidate>{{"btn.save" | trans | capitalize}}</button>
	{% endif %}
	<button id="cancel" class="col-3 btn btn-primary form-control" type="button">{{"btn.cancel" | trans | capitalize}}</button>
      </div>
   </div>

{{ form_end(form, {'render_rest': true}) }}
